<template>
    <!-- Dark coloured background -->
    <div class="modal-mask">
        <!-- Wrapper for layout -->
        <div class="modal-wrapper">
            <!-- Content Container -->
            <div class="modal-container">
                <h3>Add Ticket:</h3>
                <span>Title: </span>
                <input v-model="title" /><br/>
                <span>Text: </span>
                <textarea v-model="text" /><br/>
                <button @click="$emit('newTicket', title, text)">
                    Create Ticket
                </button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "AddTicketModal",
    emits: ["newTicket"],
    data () {
        return {
            title: "",
            text: ""
        }
    }
}

</script>

<style scoped>
.modal-mask{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-wrapper{
    vertical-align: middle;
}

.modal-container{
    width: 300px;
    padding: 30px;
    background-color: white;
}

</style>