<template>
  <div class="column">
    <span class="column-title">
      {{ name }}
    </span>
    <KanbanTicket v-for="(ticket, index) in tickets" @deleteTicket="$emit('deleteTicket', index)" v-bind:key="index" v-bind:title="ticket.title" v-bind:text="ticket.text">
    </KanbanTicket>
  </div>
</template>

<script>
import KanbanTicket from "./KanbanTicket"

export default {
  name: 'KanbanColumn',
  props: {
    name: String,
    tickets: Array,
  },
  components: {
    KanbanTicket
  }
}
</script>
