<template>
  <div class="ticket">
    <span class="ticket-content" v-on:click="displayText">
      {{ title }}
    </span>
    <button class="delete-button" @click="$emit('deleteTicket')">
      &#215;
    </button>
  </div>
</template>

<script>
export default {
  name: 'KanbanTicket',
  props: {
    title: String,
    text: String,
  },
  emits: ["deleteTicket"],
  methods: {
    displayText: function () {
        alert(this.text);
    }
  }
}
</script>

<style scoped>
.ticket {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

/* Delete button */
.delete-button{
  display: inline-block;
  color: lightgray;
  padding: 0;
  border: none;
  background: none;
  font-size: 1.5em;
  margin-left: 5px;
}
</style>
