<template>
  <KanbanColumn
    v-for="(column, index) in columns"
    v-bind:key="index"
    v-bind:name="column.columnName"
    v-bind:tickets="column.tickets"
    @deleteTicket="onDeleteTicket($event, index)"
  ></KanbanColumn>
  <AddTicketModal v-if="displayModal" @newTicket="onNewTicket" />
  <button @click="displayModal = true">
    Add Ticket
  </button>
</template>

<script>
import KanbanColumn from './components/KanbanColumn.vue';
import AddTicketModal from './components/AddTicketModal';

export default {
  name: 'App',
  components: {
    KanbanColumn,
    AddTicketModal
  },
  data() {
    return {
      columns: [
        {
          columnName: "TODO",
          tickets: [
            { title: 'Test Ticket 1', text: 'Test Ticket 1' },
            { title: 'Test Ticket 2', text: 'Test Ticket 2' },
            { title: 'Test Ticket 3', text: 'Test Ticket 3' }
          ]
        },
        {
          columnName: "DOING",
          tickets: [
            { title: 'Test Ticket 1', text: 'Test Ticket 1' },
            { title: 'Test Ticket 2', text: 'Test Ticket 2' },
            { title: 'Test Ticket 3', text: 'Test Ticket 3' }
          ]
        },
        {
          columnName: "DONE",
          tickets: [
            { title: 'Test Ticket 1', text: 'Test Ticket 1' },
            { title: 'Test Ticket 2', text: 'Test Ticket 2' },
            { title: 'Test Ticket 3', text: 'Test Ticket 3' }
          ]
        }
          
      ],
      displayModal: false
    }
  },
  methods: {
    onNewTicket(title, text) {
      console.log(title, text)
      this.columns[0].tickets.push({id: this.columns[0].tickets.length, title: title, text: text});
      this.displayModal = false;
    },
    onDeleteTicket (ticketIndex, columnIndex) {
      console.log(ticketIndex, columnIndex);
      this.columns[columnIndex].tickets.splice(ticketIndex, 1)
    }
  }
}
</script>

<style>
.column {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-left: 1px solid black;
}

.column:last-child {
  border-right: 1px solid black;
}

.column > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.column-title {
  font-size: 2em;
  color: red;
}



#app {
  display: flex;
}
</style>
